<!-- templates/registration/login.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}

        <header>
            <table style="width:100%">

              <tr>
                <td style='width:60%'>
                    <div title="This is the name, in Dataverse, of the selected example dataset." id="datasetName" style="text-align:center;">
                        <h2 style="display:inline;">PSI (&Psi;): A Private Data Sharing Interface</h2>
                      </div>
                </td>
              </tr>
            </table>

         </header>



<form id="loginForm" method="post">
  <div class="loginbox">
    <h1>Log in</h1>
      {% csrf_token %}
      {{ form.as_p }}

    <!-- <button class="btn btn-success" type="submit">Login</button> -->

    <a onclick="document.getElementById('loginForm').submit()"><div class="login-btn">Sign In</div></a> <!-- End Btn -->

    <a href="{% url 'signup' %}"><div id="login-btn2">Sign Up</div></a> <!-- End Btn2 -->

    <p class="login-p">Forgot your password? <a href="{% url 'password_reset' %}" style="color:#f1c40f;">Click Here!</a>

    <p class="login-p">Log in as test user <a href="{% url 'test_user' %}" style="color:#f1c40f;">here </a>
    
  </div>
  
</form>


{% endblock %}
