{% extends 'base.html' %}

{% block title %}Signup{% endblock %}

{% block content %}

 <header>
    <table style="width:100%">

      <tr>
        <td style='width:60%'>
            <div title="This is the name, in Dataverse, of the selected example dataset." id="datasetName" style="text-align:center;">
                <h2 style="display:inline;">PSI (&Psi;): A Private Data Sharing Interface</h2>
              </div>
        </td>
      </tr>
    </table>

 </header>

<form data-toggle="validator" role="form" id="regForm" method="post">
	<div class="regbox">
    	<h1>Register</h1>
    	{% csrf_token %}
  		{% for field in form %}
        <p>
        	{% if field.html_name == "password1" %}
        		<div class="form-group">
        		<label for="{{ field.id_for_label }}">Password: </label>
        		<input id="{{ field.id_for_label }}" type="password" name="{{ field.html_name }}" maxlength="30" required>
        		</div>
        	{% elif field.html_name == "password2" %}
        	<div class="form-group">
        		<label for="{{ field.id_for_label }}">Confirm passord: </label>
        		<input id="{{ field.id_for_label }}" type="password" name="{{ field.html_name }}" maxlength="30" required>
        </div>
        	{% else %}
        	<div class="form-group">
        		<label for="{{ field.id_for_label }}" class="ufirst">{{ field.html_name }}:</label>	
        		<input id="{{ field.id_for_label }}" type="text" name="{{ field.html_name }}" maxlength="30" required="true" required>
        	</div>
        	{% endif %}
          	
        </p>
    	{% endfor %}
    	<!-- <a onclick="document.getElementById('regForm').submit()" class="reg-btn">Register</a>  -->
  		<button class="btn btn-sm reg-btn" type="submit">Register</button>
  		 <p class="reg-p">Already have an account? <a href="{% url 'login' %}" style="color:#f1c40f;">Log in</a>
  	</div>
</form>


{% endblock %}
