{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}

{% load static %}

{% block main_content %}
    <noscript>
        <strong>Javascript must be enabled to use PSI. Please enable it to continue.</strong>
    </noscript>

    {# assign global variables from Django #}
    <script>
        {#let LOGOUT_URL =  {% url "logout" %};#}
        {#let VIEW_CONTENT_PAGE_URL = {% url 'viewContentPage' 'psiIntroduction.html' %};#}
    </script>

    {# entry point for Vue #}
    <div id="root"></div>

    {# injected files from webpack #}
    {% render_bundle 'main' %}


{% endblock %}