{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>PSI Vue Frontend</title>
</head>
<body>
<noscript>
    <strong>Javascript must be enabled to use PSI. Please enable it to continue.</strong>
</noscript>
<div id="app">
    <app></app>
</div>
<script>
    let LOGOUT_URL = {% url "logout" %};
    let VIEW_CONTENT_PAGE_URL = {% url 'viewContentPage' 'psiIntroduction.html' %};
</script>
{% render_bundle 'app' %}
<!-- built files will be auto injected -->

</body>
</html>