<style>
img {
    display: block;
    margin: 0 auto;
}
</style>
<div id="welcome">
<p>
Welcome to the PSI budgeting interface, a tool that helps data depositors release privacy preserving statistics (such as means or histograms) describing a dataset by distributing a “privacy budget” across different possible statistical calculations. Privacy is ensured by carefully introducing noise into the statistical releases, with noisier answers corresponding to greater privacy. You can select which statistics you would like to calculate and then you are given estimates of how accurately each statistic can be computed at the assigned level of privacy. The more statistics you compute, the thinner you spread your budget and the less accurate each statistic will be. You can also redistribute your privacy budget according to which statistics you think are most valuable in your dataset. 
 
<p>
Some of the statistics will require additional information about variables in the dataset. For example, when releasing a mean, you will be asked to provide a lower and upper bound for the variable. In order to preserve privacy throughout the process, it is important that you fill in such metadata with plausible values, rather than actually referencing your raw data. Think of this as the values you might expect the variable to take on before ever collecting the data (sometimes called a dataset schema). For example, 0-100 is a reasonable range for an age variable and is a safer response than looking up the youngest and oldest people in the dataset.
<p>
For each of the elements of the tool, you can bring up detailed documentation by clicking on the information buttons, marked <span class="glyphicon glyphicon-question-sign" style="color:"+qmark_color+";font-size:"+qmark_size+";"></span>.
</p>
</div>
<div>

<p class="text-center">
<a href="#myModal3" data-toggle="modal" data-dismiss="modal" class="btn btn-info" role="button">Next</a>
</p>

</div>